/* .services ul li a:active {
  background-color: green;
  border-radius: 5px;
  padding: 10px;
} */

/* .hero-social-sidebar {
  background-color: rgb(36, 34, 34);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
} */

.servicesMain {
  /* max-width: 1000px; */
  /* margin: 50px 500px; */
}

.servicesBanner ul {
  display: flex;
  overflow: hidden;
}

.servicesBanner ul li img {
  height: 400px;
  padding-right: 20px;
}

.servicesHp {
  margin: 40px;
  padding: 30px;
}

.servicesInnerDiv {
  /* width: 300px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.5;
  transform: translateY(10%);
  transition: all 1s ease-out;
}

.servicesInnerDiv.slideIn {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.servicesHp ul {
  color: white;
  display: flex;
  list-style: none;
  align-items: center;
}

.servicesHpHeading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Anton, sans-serif;
  font-size: 96px;
  font-weight: 400;
  line-height: 102px;
}

/* .servicesHpHeading.slideIn {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
} */

.servicesHpPara {
  padding-left: 150px;
  color: #cecfce;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.servicesSection {
  display: grid;
  margin: auto 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.serviceDiv {
  box-sizing: content-box;
  background-color: white;
  /* margin-right: 20px; */
  /* margin-bottom: 20px; */
  margin: 20px;
  padding: 20px;
  width: 350px;
  /* height: 100%; */
  border-radius: 10px;
  /* display: grid; */
}

.serviceDiv h2 {
  padding: 10px;
  font-size: 30px;
}

.serviceDiv p {
  padding: 10px;
}

.serviceDiv button,
.serviceDiv .button-text {
  padding: 10px;
  /* display: inline-block; */
  /* margin: 10px; */
}

.serviceDiv button {
  margin: 10px;
  /* display: block; */
}

.serviceDiv:hover {
  background-color: #a9ff5d;
  border-radius: 5px;
  cursor: pointer;
}

#service1 {
  grid-row: 1;
  grid-column: 1;
}

#service2 {
  grid-row: 1;
  grid-column: 2;
}

#service3 {
  grid-row: 1;
  grid-column: 3;
}
#service4 {
  grid-row: 2;
  grid-column: 1;
}
#service5 {
  grid-row: 2;
  grid-column: 2;
}
#service6 {
  grid-row: 2;
  grid-column: 3;
}
