@media screen and (min-width: 1280px) {
  .heroUpper > .heroSubHeading {
    font-weight: 400;
    max-width: 760px;
  }
}

@media screen and (max-width: 990px) {
  .heroDiv > .heroSocialSidebar {
    display: none;
  }

  .heroUpper > .heroMainHeading {
    font-size: 50px;
    max-width: 669px;
    z-index: 0;
    /* width: 580px; */
    line-height: 65px;
    position: static;
    /* align-items: left; */
  }

  .heroUpper > .heroSubHeading {
    width: 66%;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .heroUpper > .heroMainHeading {
    font-size: 32px;
    max-width: 452px;
    z-index: 0;
    /* width: 580px; */
    line-height: 40px;
    /* position: static; */
    /* align-items: left; */
  }

  .heroUpper > .heroSubHeading {
    max-width: 80%;
  }
}

.heroDiv {
  margin-bottom: 50px;
  padding-top: 141px;
  overflow: visible;
}

.heroUpper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.reviewsOuter {
  overflow: hidden;
}

.clientReviewsDiv {
  background-color: #1f2c10;
  border: 2px solid #2f471b;
  border-radius: 50px;
  padding: 0;
  display: flex;
  flex-direction: row;
  /* transform: translate3d(0%, 40px, 0%); */
  transform: translateY(100%);
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.slideIn {
  transform: translateY(0);
}

.clientReviewsDiv .anchor {
  padding: 8px 19px 8px 9px;
  display: inline-block;
  max-width: 100%;
}

.divBlock129 {
  column-gap: 25px;
  row-gap: 25px;
  display: flex;
}

.divBlock29 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  display: flex;
}

.divBlock29 img {
  width: 40px;
  height: 40px;
}

.divBlock29 .marginRight {
  margin-right: -9px;
}

.divBlock30,
.divBlock26 {
  display: flex;
}

.divBlock30 p {
  margin-right: 10px;
  margin-bottom: 0;
  color: #a9ff5d;
}

.divBlock30 img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

.divBlock28,
.divBlock27 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.divBlock28 img {
  margin-right: 5px;
  width: auto;
}

.divBlock27 p {
  color: white;
  width: auto;
  margin-bottom: 0;
  font-size: 13px;
}

.headingOuter {
  overflow: hidden;
}

.heroMainHeading {
  font-family: Anton, sans-serif;
  max-width: 884px;
  font-size: 72px;
  font-weight: 400;
  line-height: 87px;
  text-align: center;
  align-self: auto;
  color: white;
  width: auto;
  margin: 20px 0 0;
  padding-bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.6s;
}

.heroMainHeading.slideIn {
  transform: translateY(0);
}

.heroMainHeading span {
  color: #a9ff5d;
}

.subHeadingOuter {
  overflow: hidden;
}

.heroSubHeading {
  /* background-color: blue; */
  margin-bottom: 50px;
  /* margin: 220px; */
  /* margin-top: 30px; */
  /* margin-bottom: 35px; */
  width: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 750px;
  font-size: 18px;
  font-weight: 300;
  color: #cecfce;
  align-items: center;
  text-align: center;
  transform: translateY(120%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.9s;
}

.heroSubHeading.slideIn {
  transform: translateY(0);
}

.buttonOuter {
  overflow: hidden;
}

.heroButtons {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 1.2s;
}

.heroButtons.slideIn {
  transform: translateY(0);
}

#heroButton1 {
  padding: 20px;
  background-color: #a9ff5d;
  border-radius: 8px;
  margin-right: 20px;
}

#heroButton2 {
  padding: 20px;
  background-color: #0000;
  border-radius: 8px;
  margin-right: 20px;
}

/* #heroButton3 p {
  font-size: 16px;
  font-weight: 400;
  font-family: Inter, sans-serif;
} */

#heroButton1 p {
  font-size: 16px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  color: black;
}

#heroButton2 p {
  font-size: 16px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  color: white;
}

.heroFreelanceLinks {
  margin-top: 0;
  color: white;
  margin-top: 40px;
  /* align-items: center; */
  text-align: center;
}

.heroLinks {
  display: inline;
  margin-right: 10px;
}

.heroFreelanceLinks img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  height: auto;
  /* display: none; */
}

#link1 img {
  /* display: none; */
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transition-delay: 1.5s;
}

#link2 img {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.4s ease-in-out;
  transition-delay: 1.5s;
}

#link3 img {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.4s ease-in-out;
  transition-delay: 1.5s;
}

#link4 img {
  opacity: 0;
  transform: translateX(-150px);
  transition: all 0.4s ease-in-out;
  transition-delay: 1.5s;
}

#link1 .slideIn,
#link2 .slideIn,
#link3 .slideIn,
#link4 .slideIn {
  opacity: 1;
  transform: translateX(0);
}

.heroSocialSidebar {
  position: absolute;
  top: 100px;
  right: 20px; /* distance from right */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
  background-color: #1721;
  border-radius: 50px;
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  inset: 350px 1% auto auto;
}

.heroSocialSidebar a {
  width: 45px;
  height: 45px;
  background: #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.heroSocialSidebar div {
  width: 45px;
  height: 45px;
  /* background: rgb(9, 13, 6); */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.socialSidebar a:hover {
  background: #1db954; /* hover effect (Spotify green for example) */
  transform: scale(1.1);
}

.heroSocialIcons {
  /* margin-right: 20px; */
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}

.socialIconNew {
  background-color: #090d06;
  background-position: 50%;
}

.heroSocialIcons:hover {
  background: rgb(169, 255, 93); /* hover effect (Spotify green for example) */
  transform: scale3d(1.1, 1.1, 1.1);
  color: black;
}
