@media screen and (min-width: 1280px) {
  .portfolio > .portfolioHeader {
    width: 400px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }
}

.portfolio {
  overflow: hidden;
  margin-bottom: 60px;
  /* position: static; */
  /* height: auto; */
  /* display: block; */
}

.portfolioHeader {
  /* margin: 50px 500px;
   */
  position: relative;
  border: 2px solid #2f471b;
  width: 403px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  color: white;
  display: flex;
}

.tabLink {
  /* border: 2px solid white; */
  border-radius: 5px;
  width: auto;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.tabLink.current {
  color: black;
  background-color: #a9ff5d;
  border-color: #a9ff5d;
}

.wTabLink {
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  /* padding: 9px 30px; */
  padding-top: 9px;
  padding-bottom: 9px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.textBlock {
  text-align: center;
  font-family: Inter, sans-serif;
}

.portfolioHeader ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  /* border-radius: 5px; */
  /* border: 1px solid #8afa7b; */
  /* padding: 3px; */
  /* margin: 20px auto; */
  text-align: cemter;
  align-items: center;
  justify-content: space-between;
}

.portfolioHeader ul li {
  color: white;
  justify-content: space-between;
  padding: 10px;
}

.portfolioHeader ul li:hover {
  background-color: #8afa7b;
  border-radius: 5px;
}

.portfolioHeader ul li a {
  text-decoration: none;
  color: white;
}

.portfolioBanner {
  transform-style: preserve-3d;
  /* will-change: transform;*/
  width: 5142px;
}

.wTabPane {
  position: relative;
  display: none;
}

.wTabPane.wTabActive {
  display: block;
}

/*  */
.tabsContent {
  overflow: hidden;
}

.wTabContent {
  display: block;
  position: relative;
}

.div21 {
  display: flex;
  position: static;
  width: auto;
}

.div19 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
  column-gap: 16px;
  display: grid;
  position: static;
  margin-right: 16px;
}

.div20 {
  color: #a9fa7b;
  border: 2px #fff;
  border-radius: 5px;
  width: 500px;
  height: auto;
}

.img {
  vertical-align: center;
  max-width: 100%;
  display: inline-block;
}
/*  */

/* .portfolioBanner ul {
  display: flex;
  overflow: hidden;
}

.portfolioBanner ul li img {
  height: 400px;
  padding-right: 20px;
} */
