.portfolio {
  overflow: hidden;
}

.portfolioBanner {
  transform-style: preserve-3d;
  /* will-change: transform;*/
  width: 5142px;
}

.wTabPane {
  display: block;
}

.wTabActive {
  position: relative;
}

.portfolioHeader {
  margin: 50px 500px;
}

/*  */
.tabsContent {
  overflow: hidden;
}

.wTabContent {
  display: block;
  position: relative;
}

.div21 {
  display: flex;
  position: static;
  width: auto;
}

.div19 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
  column-gap: 16px;
  display: grid;
  position: static;
  margin-right: 16px;
}

.div20 {
  color: #a9fa7b;
  border: 2px #fff;
  border-radius: 5px;
  width: 500px;
  height: auto;
}

.img {
  vertical-align: center;
  max-width: 100%;
  display: inline-block;
}
/*  */

.portfolioHeader ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #8afa7b;
  padding: 3px;
  margin: 20px auto;
  /* width: 500px; */
  text-align: cemter;
  align-items: center;
  justify-content: space-between;
}

.portfolioHeader ul li {
  color: white;
  justify-content: space-between;
  padding: 10px;
}

.portfolioHeader ul li:hover {
  background-color: #8afa7b;
  border-radius: 5px;
}

.portfolioHeader ul li a {
  text-decoration: none;
  color: white;
}

/* .portfolioBanner ul {
  display: flex;
  overflow: hidden;
}

.portfolioBanner ul li img {
  height: 400px;
  padding-right: 20px;
} */
