.sectionHomeProcess {
  background-color: #090d06;
  color: #fff;
  padding-top: 55px;
  position: relative;
}

.pagePadding {
  z-index: 1;
  color: var(--white\<deleted\|variable-ed50db8d-706d-fac1-ef93-0872d4a62735\>);
  padding-bottom: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.containerMedium {
  width: 100%;
  max-width: 64rem 1024px;
  margin-left: auto;
  margin-right: auto;
}

.paddingVertical.paddingXhuge {
  padding-left: 0;
  padding-right: 0;
}

.marginBottom.marginXhuge {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  display: flex;
}

.marginBottom {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.maxWidthLarge.alignCenter.textAlignCenter {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: none;
  display: flex;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.divBlock124 {
  overflow: hidden;
}

.divBlock124 h2 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  font-family: Anton, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 90px;
}

.innerDivBlock124 {
  overflow: hidden;
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s ease-out;
}

.innerDivBlock124.slideIn {
  opacity: 1;
  transform: translateY(0);
}

.paraOuterDiv {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s ease-out;
}

.paraOuterDiv.slideIn {
  opacity: 1;
  transform: translateY(0);
}

.divBlock124 span {
  color: #a9ff5d;
}

.paragraph10 {
  color: #cecfce;
  max-width: 500px;
  margin-bottom: 0;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}

.divBlock67 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  row-gap: 16px;
  column-gap: 16px;
  display: grid;
  height: 530px;
  position: relative;
  overflow: hidden;
}

.container3 {
  max-width: 1100px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.divBlock29Loop1 {
  height: 1768px;
}

.divBlock68 {
  border: 1px solid rgb(47 71 27);
  background-color: #1f2c1000;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  /* background-color: white; */
}

.divBlock69 {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  margin-bottom: 10px;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.image65 {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  /* vertical-align: middle; */
  /* max-width: 100%; */
  /* display: inline-block; */
}

.heading12 {
  color: #a9ff5d;
  margin: 0;
}

.paragraph14 {
  font-size: 15px;
  color: #cecfce;
  margin: 0;
}

.divBlock29Loop1 {
  /* transition: all 1s ease-out; */
}
