.bellWrap {
  animation: bellSway 3s ease-in-out infinite;
  transform-origin: 0px 0px;
}

@keyframes bellSway {
  0% {
    transform: matrix(1, -6.06176e-6, 6.06176e-6, 1, -0.000187915, 0.000389195);
  }
  15% {
    transform: matrix(1, 0.000107851, -0.000107851, 1, 0.00334338, -0.00692458);
  }
  30% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  45% {
    transform: matrix(
      0.998994,
      0.0448358,
      -0.0448358,
      0.998994,
      1.45444,
      -2.84655
    );
  }
  60% {
    transform: matrix(
      0.950327,
      0.311252,
      -0.311252,
      0.950327,
      12.8349,
      -18.4322
    );
  }
  75% {
    transform: matrix(0.844783, 0.535109, -0.535109, 0.844783, 26.54, -29.5104);
  }
  100% {
    transform: matrix(
      0.994496,
      0.104776,
      -0.104776,
      0.994496,
      3.60129,
      -6.55474
    );
  }
  /* 90% {
    transform: matrix(
      0.9632058143615723,
      -0.2687648832798004,
      0.2687648832798004,
      0.9632058143615723,
      -5.973012447357178,
      18.362119674682617
    );
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  } */
}

.bottomStroke {
  animation: bottomSwing 3s ease-in-out infinite;
  transform-origin: 0px 0px;
  animation-delay: 0.1s;
}

@keyframes bottomSwing {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  15% {
    transform: matrix(
      0.971023,
      0.238988,
      -0.238988,
      0.971023,
      -0.592754,
      -18.7026
    );
  }
  30% {
    transform: matrix(
      0.948811,
      -0.315844,
      0.315844,
      0.948811,
      -17.9876,
      23.4616
    );
  }
  45% {
    transform: matrix(
      0.991058,
      -0.133434,
      0.133434,
      0.991058,
      1.73139,
      7.67908
    );
  }
  60% {
    transform: matrix(
      0.949247,
      0.314531,
      -0.314531,
      0.949247,
      24.7005,
      -16.9107
    );
  }
  70% {
    transform: matrix(0.795202, 0.606345, -0.606345, 0.795202, 38.484, -28.607);
  }
  80% {
    transform: matrix(0.95089, -0.309529, 0.309529, 0.95089, -17.8758, 22.9174);
  }
  90% {
    transform: matrix(0.903423, -0.42875, 0.42875, 0.903423, -12.1551, 32.3601);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
